$color_primary : #ea6b13;
$color_bg_dark : #152f4d;
$color_grey : #afafaf;
$color_grey_2 : #d6d6d6;
$color_yellow : #ffde00;
$color_green : #83d600;
$color_green_dark : #70b700;
$color_red : #e10000;
$text_blue : #007b9e;
$text_light_blue : #92d3df;
$color_activity : #94c7d8;
$color_news : #d894cc;
$color_exp : #82ea13;
$color_amulet : #eac913;
$color_bluebox : rgba(0, 168, 210, 0.85);
$color_orange_light: #eca100;
$color_orange_dark: #e04213;
$color_blue_1: #2a9fcc;
$color_norti: #e85c26;

@mixin norti( $pixel ){
	display: inline-block;
	background: #ccc;
	text-align: center;
	line-height: $pixel - 2px;
	-webkit-border-radius: $pixel;
	-moz-border-radius: $pixel;
	-ms-border-radius: $pixel;
	-o-border-radius: $pixel;
	border-radius: $pixel;
	width: $pixel;
	height: $pixel;
	margin-left: 5px;
}